<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoqu.community.mapper.UserMapper">
<!--    <select id="getUser" resultType="com.fiberhome.pojo.User">-->
<!--        select * from user-->
<!--    </select>-->
<!--    <delete id="deleteUser" parameterType="Integer">-->
<!--        delete from user where id =#{id}-->
<!--    </delete>-->
    <insert id="addUser" parameterType="com.duoqu.community.model.User">
        insert into USER (account_id,name,token,gmt_create,gmt_modified,AVATAR_URL)
        values(#{accountId},#{name},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl})
    </insert>
    <select id="findByToken" resultType="com.duoqu.community.model.User" >
        select * from USER where token = #{token}
    </select>
</mapper>